<h1>Listing articles</h1>

<%= link_to 'New article', new_article_path %>
<table class='mytable'>
	<tr>
		<th>Number</th>
		<th>--Write by--</th>
		<th>Title</th>
		<th>Text</th>
		<th colspan="2"></th>
	</tr>

	<% @articles.each do |article| %>
		<tr>
			<td><%= article.id %></td>
			<td><%= article.user.email %></td>  <!-- tb se puede asi: @users.find(article.user_id).email -->
			<td><%= article.title %></td>
			<td><%= article.text %></td>
			<td><%= link_to 'Show', article_path(article) %></td>
			<td><%= link_to 'Edit', edit_article_path(article) %></td>
			<td><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>

</table>

<h2>All the writers</h2>
<table class='mytable'>
  <tr>
  	  <th>writer</th>
  	  <th>nºarticles</th>
  </tr>
	<% @users.each do |user| %>
		<tr>
		<td><%= user.email %></td>
		<td><%= user.num_articles %></td>
		</tr>
	<% end %>
</table>