<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
	you are sign_in with <%= current_user.email %><br>
	<%= link_to "Exit", destroy_user_session_path, method: :delete %>
<% else %>
	NOT sign_in

<% end %>

<%= yield %>

</body>
</html>
